
body {
    background-color: #1F1E34;
    color: #FFF;
    font-family: "Avenir Next",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

h2 {
    font-size: 48px;
    font-weight: 100;
}

p {
    font-size: 24px;
}

a {
    font-weight: 400;
    color: #FFF;
}

a:hover {
    font-weight: 400;
    color: #DADADA;
    text-decoration: none;
}

.parts {
    background-color: rgba(255,0,0,0.3);
    border: 2px solid #FFF;
    width: 100%;
    height: 720px;
    float: left;
}
.part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.react-logo{
    width: 320px;
    height: 280px;

}
.part1-title{
    text-align: center;
}
.navigation{
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-link{
    padding: 10px;
}

.part2,.part3{
    display: flex;
    flex-direction: row;

}
.iphone-demo {

    background-color: rgba(255,0,0,0.3);
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-description {

    background-color: rgba(0, 255, 0, 0.3);
    flex-grow: 1;
    flex-basis: 0;

}
.part4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
