
body {
    background-color: #1F1E34;
    color: #FFF;
    font-family: "Avenir Next",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
    font-weight: 100;

}
/* ReactNative 默认值 */
body, div, span {
    box-sizing: border-box;

    /******************/
    position: relative;
    /******************/

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    border: 0 solid black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

h2 {
    font-size: 48px;
    font-weight: 100;
}

p {
    font-size: 24px;
}

a {
    font-weight: 400;
    color: #FFF;
}

a:hover {
    font-weight: 400;
    color: #DADADA;
    text-decoration: none;
}

.parts {
    width: 100%;
    height: 820px;

}
.part1{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}
.overlay {
    width: inherit;
    height: inherit;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(31,30,52,1));
    background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
    position: absolute;
    top: 0;
    left: 0;
}
.part1-box{
    width: inherit;
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.react-logo{
    width: 320px;
    height: 280px;

}
.part1-title{
    text-align: center;
}
.navigation{
    width: 900px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav-link{
    padding: 10px;
}

.part2,.part3{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
.iphone-demo {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.iphone-frame{
    background-image: url("../img/iphone-frame.svg");
    width: 300px;
    height: 630px;

}
.iphone-show{
    position: absolute;
    top: 90px;
    left: 25px;
}


.feature-description {


    -webkit-box-flex: 1;


    -webkit-flex-grow: 1;


        -ms-flex-positive: 1;


            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;

}
.part4-title{
    width: inherit;
    height: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.part4{
    overflow: hidden;
}
#android-robot{

    position: absolute;
    top: 100%;
    left: 100%;
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -ms-transform: translate(-50%,-50%) rotate(-45deg);
            transform: translate(-50%,-50%) rotate(-45deg);


}

#slider-control{
    width: 38px;
    height: 94px;
    position: fixed;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%,-50%);
        -ms-transform: translate(-100%,-50%);
            transform: translate(-100%,-50%);
}
#slider-control {
    padding: 3px;
}

#slider-control a {
    padding: 3px;
}

#slider-control .dot {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 8px;
}

#slider-control .active .dot {
    background-color: #fff;
}
